.main-nav li .glyphicon {
    margin-right: 10px;
}

body {
    padding-top: 50px;
    background-color: #E6E5E0;
}

/* Highlighting rules for nav menu items */
.main-nav .navbar li a.active,
.main-nav .navbar li a.active {
    background-color: #63A792;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

@media (min-width: 768px) {
    .main-nav {
        height: 6%;
        width: 100%;
    }
    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
        background-color: white;
    }
    .main-nav .navbar-header {
        font-family: fantasy;
        font-family: 32px;
        font-weight: 700;
    }
    .main-nav .navbar-header a:hover {
        color: black;
    }

    .main-nav .navbar-collapse {
        padding: 0px;
    }
    .main-nav .navbar ul {
        float: none;
    }
    .main-nav .navbar li {
        float: none;
        padding: auto;
        display: inline-block;
        font-size: 15px;
        height: 100%;
    }

    .main-nav .navbar li a {
        border-radius: 0px;
        background-color: #359C6B;
        color: white;
    }

    .main-nav .navbar li a:hover {
        background-color: #47A07B;
    }

    .main-nav .navbar a {
        /* If a menu item's text is too long, truncate it */
        color: black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
